<div class="relative bg-white rounded-lg w-[18rem] h-[25rem] px-6 pb-8 pt-16 flex flex-col items-center justify-between text-center">

  <div class="absolute top-8 w-[6rem] h-[6rem] rounded-full border border-dashed border-ui-dark-jade"></div>
  <div class="absolute top-10 flex items-center justify-center w-[5rem] h-[5rem] rounded-full bg-ui-dark-jade">
<!--    <img alt="feature-icon" class="w-12 h-12 object-contain" src="../assets/img/main-sec-4/Icon-3.png">-->
  </div>
  <h4 class="text-ui-light-dark-blue  font-bold text-xl leading-6 capitalize mt-20 mb-4">
    Best Coaching
  </h4>
  <p class="text-ui-light-gray  text-base leading-7 mb-8">
    In pellentesque massa vida <br>
    placerat duis. Cursus sit amet <br>
    dictum sit amet.
  </p>
  <a class="inline-flex items-center h-14 w-auto pl-6 pr-1 rounded-full bg-ui-dark-jade font-epilogue"
     href="#">
    <span class="text-white text-[0.9rem] font-normal">view details</span>
    <span class="relative left-2 ml-4 flex items-center justify-center w-14 h-14 rounded-full bg-ui-light-jade">
<!--                 <img alt="arrow" src="../assets/icons/arrow-right.svg">-->
        </span>
  </a>

</div>