<div class="relative w-72 rounded-md shadow-2xl">
    <img
            alt="teacher4"
            class="w-full h-80 object-cover rounded-t-lg block bg-ui-dark-blue "
            src="../assets/img/main-sec-9/img4.png"
    >
    <div class="relative bg-ui-light-dark-blue rounded-b-md pt-10 pb-6 text-center">
        <img alt="" class="absolute -top-5 left-1/2 -translate-x-1/2"
             src="../assets/img/main-sec-9/card_icon.png">
        <p class="font-epilogue font-bold text-lg uppercase tracking-wide text-white">Jesus Pendley</p>
        <p class="font-sora font-normal text-sm capitalize text-ui-red mt-1.5">Teacher</p>
    </div>
</div>