<div class="w-72 shrink-0 flex flex-col gap-8">

    <div class="flex items-center border border-gray-200 rounded-md px-4 h-14">
        <input class="flex-1 text-sm text-ui-light-gray outline-none bg-transparent" placeholder="Search"
               type="text">
        <button><img alt="search" class="ml-4" src="../assets/icons/search_bl.svg"></button>
    </div>

    <div>
        <h3 class=" font-bold text-base uppercase text-ui-light-dark-blue mb-4">Service Category</h3>
        <ul class="flex flex-col gap-2">
            <li>
                <a class="flex items-center justify-between border border-gray-200 rounded-md px-6 h-14 text-sm text-ui-light-gray capitalize"
                   href="#">
                    Graphic Design <span>&rsaquo;</span>
                </a>
            </li>
            <li>
                <a class="flex items-center justify-between bg-ui-light-purple border border-ui-light-purple rounded-md px-6 h-14 text-sm text-white capitalize"
                   href="#">
                    Web Design <span>&rsaquo;</span>
                </a>
            </li>
            <li>
                <a class="flex items-center justify-between border border-gray-200 rounded-md px-6 h-14 text-sm text-ui-light-gray capitalize"
                   href="#">
                    It And Software <span>&rsaquo;</span>
                </a>
            </li>
            <li>
                <a class="flex items-center justify-between border border-gray-200 rounded-md px-6 h-14 text-sm text-ui-light-gray capitalize"
                   href="#">
                    Sales Marketing <span>&rsaquo;</span>
                </a>
            </li>
            <li>
                <a class="flex items-center justify-between border border-gray-200 rounded-md px-6 h-14 text-sm text-ui-light-gray capitalize"
                   href="#">
                    Art & Humanities <span>&rsaquo;</span>
                </a>
            </li>
            <li>
                <a class="flex items-center justify-between border border-gray-200 rounded-md px-6 h-14 text-sm text-ui-light-gray capitalize"
                   href="#">
                    Mobile Application <span>&rsaquo;</span>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <h3 class="font-bold text-base uppercase text-ui-light-dark-blue mb-4">Popular Tag:</h3>
        <div class="flex flex-wrap gap-3">
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Balance</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Coaching</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Motivation</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Courses</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Life
                Guide</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Strategy</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Education</a>
            <a class="bg-[#F2F2F2] h-12 rounded- px-6 flex items-center text-sm text-ui-light-gray capitalize"
               href="#">Coach</a>
        </div>
    </div>

</div>
